<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Новая задача!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<h2>Создание новой задачи</h2>

<form action="/" method="post">
    <div class="form-group">
        <label for="title">Введите заголовок</label>
        <input id="title" type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
        <label for="description">Введите описание</label>
        <textarea name="description" id="description" class="form-control"  cols="30" rows="3"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>


<script src="../main.js"></script>
</body>
</html>