<div style="border: 1px solid black;">
    <h2 style="text-align: center;">Новости Канады</h2>
    <form method="POST" action="/responseNews">
        <input type="text" name="count" placeholder="Количество новостей">
        <input type="submit" value="Отобразить">
    </form>
</div>