<form method="POST" action="/tasks">
  <input type="text" name="title" placeholder="Название" /><br/>

  <input type="submit" value="Создать" />
</form>

<ul>
  {{#each tasks}}
    <li>
      {{#if this.completed}}<b>[*]</b>{{/if}} <a href="/tasks/{{this._id}}">{{this.title}}</a>
      {{#unless this.completed}}
      <form method="POST" action="/tasks/complete">
        <input type="hidden" value="{{this._id}}" name="id" />
        <input type="submit" value="Выполнено" />
      </form>
      {{/unless}}
      <form method="POST" action="/tasks/remove">
        <input type="hidden" value="{{this._id}}" name="id" />
        <input type="submit" value="Удалить" />
      </form>
    </li>
  {{/each}}
</ul>