<p>{{ navpanel user }}</p>

{{#if error}}
  <b>Неправльный логин или пароль</b>
{{/if}}

<form method="POST" action="/login">
  <input type="text" name="email" placeholder="Email" /><br/>
  <input type="password" name="password" placeholder="Пароль" /><br/>
  <input type="submit" value="Войти" /> 
</form>