<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="/scripts/auth.js" defer ></script>
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body>
    <p>{{ navpanel user }}</p>
    {{#if error}}
        <b>Неправльный логин или пароль</b>
    {{/if}}

    <form>
        <input id="email" type="text" name="email" placeholder="Email" /><br/>
        <input id="password" type="password" name="password" placeholder="Пароль" /><br/>
        <input id="btn_login" type="button" value="Войти" /> 
    </form>
</body>
</html>


