<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  {{#if error}}
    <b>Неправильный логин или пароль</b>
  {{/if}}
  
  <form action="/auth" method="POST">
    <fieldset>
      <legend>Авторизация</legend>  
      
      <input type="text" name="email" placeholder="e-mail"/>
      <input type="password" name="password" placeholder="пароль" />
      <input type="submit" value="Войти" />

    </fieldset>
  </form>
</body>
</html>
