<form action="/tasks/update" method="POST">
  <h2>Редактировать задачу: </h2>
  <input type="hidden" name="id" value="{{id}}" />
  <input type="text" name="title" value="{{title}}" placeholder="Редактировать задачу" /> <br />
  <input type="submit" value="Сохранить" />
</form>