<script language="javascript" src="jquery.min.js"></script>
<script language="javascript" src="js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css" />
<title>ToDo!</title>

<div class="container">
    <h1 class="text-center mt-2">ToDo List</h1>
    <form method="POST" action="/addTask">
        <div class="form-group row">
            <label for="inputTask" class="col-sm-2 col-form-label">Enter task</label>
            <div class="col-sm-10">
                <input type="text" name="inputTask" class="form-control" id="inputTask">
            </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Priority</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
                            value="Very important" checked>
                        <label class="form-check-label" for="gridRadios1">
                            Very important
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2"
                            value="Important">
                        <label class="form-check-label" for="gridRadios2">
                            Important
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                            value="Not important">
                        <label class="form-check-label" for="gridRadios3">
                            Not important
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group row col-sm-10">
            <button type="submit" class="btn btn-primary">Add task</button>
        </div>
    </form>
    <form>
        <button type="submit" formaction="/delTask" formmethod="POST" class="btn btn-danger mb-2">Remove</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th class="align-middle text-center" scope="col"><svg class="bi bi-check-box" width="1em"
                            height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M17.354 4.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3-3a.5.5 0 11.708-.708L10 11.293l6.646-6.647a.5.5 0 01.708 0z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M3.5 15A1.5 1.5 0 005 16.5h10a1.5 1.5 0 001.5-1.5v-5a.5.5 0 00-1 0v5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h8a.5.5 0 000-1H5A1.5 1.5 0 003.5 5v10z"
                                clip-rule="evenodd" />
                        </svg></th>
                    <th class="align-middle text-center" scope="col">Tasks</th>
                    <th class="align-middle text-center" scope="col">Priority</th>
                    <th class="align-middle text-center" scope="col"><svg class="bi bi-document-text" width="1em"
                            height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M6 3h8a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V5a1 1 0 00-1-1H6z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M6.5 14a.5.5 0 01.5-.5h3a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
                                clip-rule="evenodd" />
                        </svg></th>
                </tr>
            </thead>
            <tbody>
                {{#each taskList}}
                <tr>
                    <th class="align-middle text-center" scope="row">
                        <input type="checkbox" name="checkBoxTask" class="checkBoxTask" value="{{this._id}}">
                    </th>
                    <td class="align-middle">{{this.title}}</td>
                    <td class="align-middle text-center">{{this.priorityTask}}</td>
                    <td class="align-middle text-center">
                        <button type="submit" formaction="/getTask" formmethod="POST" class="btn btn-light"
                            name="editTaskButton" value="{{this._id}}">
                            <svg class="bi bi-document-text" width="1em" height="1em" viewBox="0 0 20 20" fill="black"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M6 3h8a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V5a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V5a1 1 0 00-1-1H6z"
                                    clip-rule="evenodd" />
                                <path fill-rule="evenodd"
                                    d="M6.5 14a.5.5 0 01.5-.5h3a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5zm0-2a.5.5 0 01.5-.5h6a.5.5 0 010 1H7a.5.5 0 01-.5-.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </form>